<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>DocuGest</h1>
      <p>Inicie sesión para continuar</p>
    </div>
    

      <div class="login-form ion-padding">
        <div class="form-input">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-item>
            <ion-input type="text" [(ngModel)]="loginData.nombre" name="nombre" placeholder="Escribe tu usuario"></ion-input>
          </ion-item>
        </div>
    
        <div class="form-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-item>
            <ion-input type="password" [(ngModel)]="loginData.password" name="password" placeholder="Escribe tu contraseña"></ion-input>
          </ion-item>
        </div>
      </div>
    
      <div class="action-buttons ion-padding">
        <ion-button size="large" class="login-button" (click)="ingresar()">Iniciar Sesión</ion-button>
        <a (click)="editPassword()" class="forgot-password-link"> ¿Olvidaste la contraseña?</a>
        <ion-button class="signup-button" size="large" fill="outline" routerLink="/login/registro">Registro</ion-button>
      </div>
  </div>
</ion-content>

